#root {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  text-align: center;
  margin: 0;
  padding: .5em;
}

.shadow-clock {
  width: 11em;
  height: 11em;
  border-radius: 5.5em;
  background-color: #505050;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape-clock {
  width: 10em;
  height: 10em;
  border-radius: 5em;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-clock {
  width: 9em;
  height: 9em;
  border-radius: 5em;
  position: relative;
  background-size: cover;
}

.dot-clock {
  width: .8em;
  height: .8em;
  border-radius: .8em;
  background-color: #505050;
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.marker {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}