* {
  color: #ffffff;
}

html {
  min-width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: radial-gradient(#202020, #000000);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: 0;
}